.mainContainer {
  // width: calc(100vw - 6rem);

  width: 260%;
}

.carouselContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
