.wrapper {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .body {
    @media (min-width: 640px) {
      position: relative;
      width: 85%;
      left: 15%;
    }

    .carouselContainer {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
}

.projectWrapper {
  display: flex;
  transform: scale(1);
  transition: all 600ms ease;
}

.outOfFocus {
  transform: scale(0.95);
  filter: grayscale(60%);
  transition: all 600ms ease;

  &:hover {
    filter: grayscale(30%);
  }
}
